@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  background: aliceblue;
  font-family: "Abel", sans-serif;
  font-size: 140%;
}

.presentation {
  font-size: 1em;
  text-align: justify;
}

a {
  color: deepskyblue;
  font-size: 0.9em;
  text-decoration: none;
  filter: brightness(90%);
}
a:hover {
  filter: brightness(110%);
}

p {
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

header {
  color: lightgray;
  background: #293139;
  padding: 20px;
}

.sticky-header {
  background: #293139;
}

@media (max-width: 1024px) {
  body {
    padding: 0px;
  }
}
